{% extends 'base.html.twig' %}

{% block title %}Hello ReinitialisationMotdepasseController!{% endblock %}

{% block body %}


 

     <div id= "container" >

        <form action="verification.php" method="POST">

            <h2> Cliquez sur le lien envoyé </h2>
                    

                Consultez votre boite mail ou votre messagérie téléphonique et
                cliquez sur le lien envoyer pour modifier votre mot de passe. </br>           
       
        </form>

    </div>
{% endblock %}
