{% extends 'base.html.twig' %}

{% block title %}Hello NouvMotDePasseController!{% endblock %}

{% block body %}


            <div id= "container" >

                <form action="verification.php" method="POST">
                   <h2> Rénitialisation de mot de passe </h2>
                    

                    <label><b>Nouveau mot de passe</b></label>
                    <input type="password" placeholder="Entrer le nouveau mot de passe" name="password" required>
                    <label><b>Confirmer le nouveau mot de passe</b></label>
                    <input type="password" placeholder="Entrer de nouveau le mot de passe" name="password" required>

                    <input type="submit" id='submit' value='Validate' >
                    
                </form>

        </div>
{% endblock %}
