{% extends 'base.html.twig' %}

{% block title %}Hello MotdepassereinitiaiserController!{% endblock %}

{% block body %}
 <div id= "container" >

        <form action=" " method="POST">

            <h2> Mot de passe réinitialiser </h2>
                    

                Votre mot passe a été réinitialiser. </br>           
                <a href="{{ path('authentification') }}"> Connexion </a> <br> 

        </form>

    </div>
{% endblock %}
